.avatar-sm,
.avatar-md,
.avatar-lg,
.avatar-txt-md {
    border-radius: 50%;
    height: auto;
}

.avatar-txt-md {
    font-size: xx-large;
    color: var(--primaryTxt);
    background-color: var(--primaryBg);
    cursor: default;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.avatar-sm {
    width: 50px;
}

.avatar-md {
    width: 75px;
}

.avatar-lg {
    width: 120px;
}

.avatar-sq-sm,
.avatar-sq-md,
.avatar-sq-lg {
    border-radius: 25%;
    height: auto;
}

.avatar-sq-sm {
    width: 50px;
}

.avatar-sq-md {
    width: 75px;
}

.avatar-sq-lg {
    width: 120px;
}