.card {
    border: 1px solid var(--theme900);
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
    background-color: var(--theme50);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 2px 2px 10px var(--theme300);
    position: relative;
}

.card-horizontal {
    border: 1px solid var(--theme900);
    display: grid;
    grid-template-areas:
        "pic header"
        "pic desc"
        "pic btn";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.8rem;
    max-height: 320px;
    max-width: 800px;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
    background-color: var(--theme50);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 2px 2px 10px var(--theme300);
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    grid-area: pic;
    align-self: center;
}

.card-heading {
    margin-block-end: 0;
}

.card-badge {
    position: absolute;
    top: 8%;
    left: 5%;
    width: max-content;
    padding: unset;
    border: unset;
    margin: unset;
    line-height: initial;
    border-radius: unset;
}

.card-badge:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 2%;
    border-width: 9px 8px;
    border-color: rgba(35, 91, 247, 0.7) transparent rgba(35, 91, 247, 0.7) rgba(19, 69, 207, 0.9);
    border-style: solid;
}

.card-price {
    font-size: 1.1em;
}

.card-desc{
    padding: 0.4rem 0;
}

.btn-dismiss {
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-dismiss:hover {
    background-color: var(--secondaryTxt);
    color: var(--secondaryBg);
    text-decoration: unset;
}

.card-shadow:hover {
    box-shadow: 5px 5px 10px var(--theme300), -5px -5px 10px var(--theme300);
}

.txt-overlay {
    position: absolute;
    color: var(--theme200);
    top: 30%;
    right: 20%;
}

@media screen and (max-width:768px) {
    .card-horizontal {
        display: block;
        width: 90%;
        min-height: 80vh;
    }
    .card-horizontal>.card-img{
        width: 75%;
    }
    .card{
        width: 100%;
        max-width: 300px;
    }
}